In [24]:
import pandas as pd
import numpy as np
KNN = 1

In [25]:
projects_df = pd.read_csv('projects.csv',usecols=['ProjectId','ProjectName'],dtype={'ProjectId': 'int32', 'ProjectName': 'str'})
rating_df=pd.read_csv('ratings.csv',usecols=['UserId', 'ProjectId', 'Value'],
    dtype={'UserId': 'int32', 'ProjectId': 'int32', 'Value': 'float32'})

In [26]:
projects_df.head()

   ProjectId ProjectName
0          1     Project

In [27]:
rating_df.head()

   Value  UserId  ProjectId
0    5.0       1          1

In [28]:
df = pd.merge(rating_df,projects_df,on='ProjectId')
df.head()

   Value  UserId  ProjectId ProjectName
0    5.0       1          1     Project

In [29]:
projectfeaturesdf = df.pivot_table(index='ProjectName',columns='UserId',values='Value').fillna(0)

In [30]:
projectfeaturesdf.head()

UserId         1
ProjectName
Project      5.0

In [31]:
from scipy.sparse import csr_matrix

projectfeaturesdfmatrix = csr_matrix(projectfeaturesdf.values)

from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(projectfeaturesdf)

NearestNeighbors(algorithm='brute', metric='cosine')

In [32]:
query_index = 0
distances, indices = model_knn.kneighbors(projectfeaturesdf.iloc[query_index,:].values.reshape(1, -1), n_neighbors = KNN)

In [33]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(projectfeaturesdf.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, projectfeaturesdf.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Project: