In [1]:
import pandas as pd
import numpy as np

In [3]:
projects_df = pd.read_csv('projects.csv',usecols=['ProjectId','ProjectName'],dtype={'ProjectId': 'int32', 'ProjectName': 'str'})
rating_df=pd.read_csv('ratings.csv',usecols=['UserId', 'ProjectId', 'Value'],
    dtype={'UserId': 'int32', 'ProjectId': 'int32', 'Value': 'float32'})

In [4]:
projects_df.head()

   ProjectId ProjectName
0          1     Project

In [5]:
rating_df.head()

   Value  UserId  ProjectId
0    5.0       1          1

In [6]:
df = pd.merge(rating_df,projects_df,on='ProjectId')
df.head()

   Value  UserId  ProjectId ProjectName
0    5.0       1          1     Project

In [8]:
projectfeaturesdf = df.pivot_table(index='ProjectName',columns='UserId',values='Value').fillna(0)

In [9]:
projectfeaturesdf.head()

UserId         1
ProjectName
Project      5.0